<div class="col-12 col-md-2">
  <h3><%= topic.name %></h3>
  <div class="row" id=<%="#{dom_id(topic)}_list"%>>
    <%= render topic.tasks %>
  </div>
  <%= render "tasks/form", task: topic.tasks.build %>
</div>
