<% User.positions.each do |position|%>
<% users = @users.where(position: position)%>
<% next if users.size < 1%>
  <h2 class="Box__maintitle Box__margins"><%= position.first%></h2>
  <div class="row">
    <%= render @users.where(position: position)%>
  </div>
<%end%>
