.navbar {
  background-color: $color-white; 
}

.nav-item {
  .nav-link {
    font-size: 1.125rem;
    color: $color-primary-dark;
  }
  &__margin{
    margin-right: 3rem;
  }
}
.bottom_of_navbar  {

  min-height: 50px;
  background-color: $color-neutral-bg;
}
